{% extends 'DebrilFeedIoBundle::base.html.twig' %}

{% block main -%}
    <h1>Item from {{entity.feed}} </h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Publishedat</th>
                <td>{{ entity.publishedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Modifiedat</th>
                <td>{{ entity.modifiedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Link</th>
                <td>{{ entity.link }}</td>
            </tr>
            <tr>
                <th>Lastmodified</th>
                <td>{{ entity.lastModified|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Publicid</th>
                <td>{{ entity.publicId }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('crud_item') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('crud_item_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
