{% extends "DebrilFeedIoBundle::base.html.twig" %}

{% block main -%}
    <h1>Feed list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Type</th>
                <th>Comment</th>
                <th>Createdat</th>
                <th>Publicid</th>
                <th>Description</th>
                <th>Id</th>
                <th>Title</th>
                <th>Link</th>
                <th>Lastmodified</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for feed in feeds %}
            <tr>
                <td><a href="{{ path('feed_show', { 'id': feed.id }) }}">{{ feed.type }}</a></td>
                <td>{{ feed.comment }}</td>
                <td>{% if feed.createdAt %}{{ feed.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ feed.publicId }}</td>
                <td>{{ feed.description }}</td>
                <td>{{ feed.id }}</td>
                <td>{{ feed.title }}</td>
                <td>{{ feed.link }}</td>
                <td>{% if feed.lastModified %}{{ feed.lastModified|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('feed_show', { 'id': feed.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('feed_edit', { 'id': feed.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('feed_new') }}">
                Publish a new feed
            </a>
        </li>
        <li>
            <a href="{{ path('feed_add') }}">
                add a new feed to follow
            </a>
        </li>
    </ul>
    {% endblock %}
