{% extends 'DebrilFeedIoBundle::base.html.twig' %}

{% block body -%}
    <h1>Feed list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Type</th>
                <th>Comment</th>
                <th>Createdat</th>
                <th>Publicid</th>
                <th>Description</th>
                <th>Id</th>
                <th>Title</th>
                <th>Link</th>
                <th>Lastmodified</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('feed_show', { 'id': entity.id }) }}">{{ entity.type }}</a></td>
                <td>{{ entity.comment }}</td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.publicId }}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.id }}</td>
                <td>{{ entity.title }}</td>
                <td>{{ entity.link }}</td>
                <td>{% if entity.lastModified %}{{ entity.lastModified|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('feed_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('feed_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('feed_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
