{% extends "DebrilFeedIoBundle::base.html.twig" %}

{% block main -%}
    <h1>{{ feed.title }}</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Type</th>
                <td>{{ feed.type }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ feed.comment }}</td>
            </tr>
            <tr>
                <th>Publicid</th>
                <td>{{ feed.publicId }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ feed.description }}</td>
            </tr>
            <tr>
                <th>Link</th>
                <td>{{ feed.link }}</td>
            </tr>
            <tr>
                <th>Lastmodified</th>
                <td>{{ feed.lastModified|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('feed_index') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('feed_edit', { 'id': feed.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <a href="{{ path('feedio_rss', { 'id': feed.id }) }}">
            RSS
        </a>
    </li>  
    <li>
        <a href="{{ path('feedio_atom', { 'id': feed.id }) }}">
            Atom
        </a>
    </li>    
    <li>
    {% if showUpdateLink %}
        <a href="{{ path('feed_update', { 'id': feed.id }) }}">
            Update feed
        </a>
    {% else %}        
        <a href="{{ path('item_new', { 'feedId': feed.id }) }}">
            add an item to the feed
        </a>
    {% endif %}
    </li>
</ul>

<ul>
{% for item in items %}
    <div class="feed-item">
        <h1><a href="{{ path('item_edit', { 'id': item.id }) }}">{{ item.title }}</a></h1>
        <p>{{ item.description }}</p>
        <p>{{ feed.lastModified|date('Y-m-d H:i:s') }}</p>
    </div>
{% endfor %}
</ul>
{% endblock %}
